* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  width: 90%;
  max-width: 1200px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: auto;
}

.header p {
  font-size: 1.2em;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 20px;
}

.header strong {
  font-weight: bold;
  font-size: 1.5em;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.image-section {
  flex: 1;
  min-width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(32, 33, 33);
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.image-section img {
  align-items: center;
  margin-top: 30px;
  width: 90%;
  height: 85%;
  margin-bottom: 1x;
  border-radius: 10px;
}

.image-caption {
  position: absolute;
  left: 300px;
  bottom: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1em;
  cursor: pointer;
}

.status {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  border: 1px solid rgb(213, 215, 219);
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
}

.status-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  margin-right: 10px;
}

.info-section {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.social-links {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(213, 215, 219);
  border-radius: 10px;
  padding: 10px;
}

.social-item {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  text-decoration: none;
}

.social-icon {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.social-username {
  margin-left: 5px;
  opacity: 0;
  transform: translateX(10px);
  transition: all 0.3s ease;
  text-decoration: none;
  color: #333;
}

.social-item:hover .social-icon {
  transform: translateX(-5px);
}

.social-item:hover .social-username {
  opacity: 1;
  transform: translateX(0);
  text-decoration: none;
  color: #333;
}

.cv-container {
  margin-top: 10px;
  border-bottom-width: 1px;
  border-color: rgb(213, 215, 219);
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 0px;
  opacity: 1;
  margin-bottom: 30px;
}

.cv-button {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: transparent;
}

.cv-button:hover {
  cursor: pointer;
}

.coding-platforms {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom-width: 1px;
  border-color: rgb(213, 215, 219);
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 0px;
  opacity: 1;
  margin-bottom: 30px;
}

.coding-item {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  text-decoration: none;
}

.coding-icon {
  width: 80px;
  height: 80px;
  transition: transform 0.3s ease;
}

.coding-username {
  margin-left: 10px;
  opacity: 0;
  transform: translateX(10px);
  transition: all 0.3s ease;
  text-decoration: none;
  color: #333;
}

.coding-icon:hover {
  transform: scale(1.1);
  opacity: 1;
}

.coding-item:hover .social-username {
  display: flex;
  flex-direction: row;
  opacity: 1;
  transform: translateX(0);
  text-decoration: none;
  color: #333;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
    height: 100vh;
  }

  .header p {
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
  }

  .image-section img {
    width: 90%;
    height: 90%;
    margin-top: 12px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .image-caption {
    position: absolute;
    left: 215px;
    bottom: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 8px 8px;
    border-radius: 20px;
    font-size: 0.5em;
    cursor: pointer;
  }

  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .social-username {
    font-size: 0.75em;
  }

  .social-item {
    margin: 10px 5;
  }
  .social-icon {
    width: 30px;
    height: 30px;
  }

  .cv-container,
  .coding-platforms {
    padding: 5px;
  }

  .coding-icon {
    width: 50px;
    height: 50px;
  }

  .coding-platforms {
    display: flex;
    justify-content: space-around;
  }
}

@media (width: 360px) {
  .container {
    width: 100vw;
    height: 100vh;
  }

  .header p {
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
  }

  .image-caption {
    left: 235px;
    bottom: 30px;
  }

  .container {
    width: 90%;
  }

  .header p {
    margin-top: 5px;
    font-size: 0.75em;
    text-align: center;
  }

  .content {
    flex-direction: row;
  }

  .image-section {
    position: relative;
    min-width: 200px;
  }

  .image-section img {
    width: 90%;
    height: 90%;
    margin-top: 12px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .info-section {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .social-username {
    font-size: 0.75em;
  }

  .social-item {
    margin: 10px 5;
  }
  .social-icon {
    width: 30px;
    height: 30px;
  }

  .cv-button {
    width: auto;
  }

  .coding-platforms {
    flex-direction: row;
  }
}

@media (width: 360px) {
       .image-caption {
        left: 165px;
        bottom: 30px;
        padding: 5px 5px;
        border-radius: 16px;
        font-size: 0.5em;
  }
}
