* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    width: 90%;
    max-width: 1200px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 90%;
    max-height: 1200px;
}

.header p {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px;
}

.header strong {
    font-weight: bold;
    font-size: 1.5em;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 65vh;
}

.image-section {
    padding-top: 7px;
    flex: 1;
    min-width: 350px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom-width: 1px;
    border-color: rgb(32, 33, 33);
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 0px;
    opacity: 1;
}

.image-section img {
    position: relative;
    /* padding-left: 15px;
    padding-right: 15px; */
    padding-top: 15px;
    padding-bottom: 15px;
    height: 350px;
    width: 500px;
    border-radius: 20px;
    object-fit: cover;
    image-rendering: auto;
}

.image-caption {
    position: absolute;
    bottom: 20px;
    left: 58%;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px 10px;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
}

.status {
    border-bottom-width: 1px;
    border-color: rgb(213, 215, 219);
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    border-radius: 10px;
    width: 70%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75em;
    position: absolute;
    left: 5%;
    top: 115%;
    padding: 5px;
    margin: 5px;
}

.status-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    margin-right: 10px;
}

.info-section {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.social-links {
    border-bottom-width: 1px;
    border-color: rgb(213, 215, 219);
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 0px;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 10px;
}  
   
.social-icon{
    height: 50px;
    width: 50px;
}

.social-icon:hover {
    transform: scale(1.1);
    filter: brightness(1);
}

.social-links a {
    display: inline-block;
    margin: 0 5px;
    text-decoration: none;
    font-size: 1.2em;
    color: #333;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.cv-container {
    margin-top: 10px;
    border-bottom-width: 1px;
    border-color: rgb(213, 215, 219);
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 0px;
    opacity: 1;
    margin-bottom: 30px;
}

.cv-button {
    border: 1px solid black;
    /* background-color: #333; */
    color: #282828;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cv-button:hover {
    cursor: pointer;
    /* background-color: #555; */
}

.leetcode-container{
    border-bottom-width: 1px;
    border-color: rgb(213, 215, 219);
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 0px;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 50px;
    padding: 45px;
}

.coding-icon{
    height: 150px;
    width: 150px;
}

